# Dépendances
node_modules/

# Builds
dist/
build/

# Variables d'environnement
.env
.env.*

# Logs
*.log

# Cache
.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json

# Si tu as un dossier de médias dans le projet
media/